<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/boot.ejs') %> 
</head>
<body class="container">
    <h1>Home Page</h1>
    <a href="items/add">
        <button>Add</button>
    </a>
    <table class="table table hover">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Img</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            <% Item.forEach((el, i) => { %>
          <tr>
            <th scope="row"><%= i+1 %> </th>
                <td><%= el.item %> </td>
                <td><%= rupiah(el.itemPrice) %></td>
                <td><img src="<%= el.imgUrl %>" width="200"></td>
                <td>
                    <a href="items/<%=el.id%>/edit">
                        <button>Edit</button>
                    </a> 
                    <a href="items/<%=el.id%>/delete">
                        <button>Delete</button>
                    </a>
                </td>
            </tr>
            <% }) %> 
        </tbody>
      </table>
</body>
</html>